nav{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    position: relative;
    padding: 10px;
}
.container {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    
  
}

.container ul {
    display: flex;
    justify-content: space-between;
    transition: all .3s ease;
   
}
.show {
    display: flex;
  }

.ul li {
    margin: 0 10px;
    cursor: pointer;
    list-style: none;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    transition: all .3s ease;
}

.burger {
    border: none;
    background-color: beige;
    font-size: x-large;
    cursor: pointer;
    display: none;
    transition: all .3s ease;
}


@media screen and (max-width: 657px) {
    nav{
        display: flex;
        justify-content: right;
        background-color: beige;
        position: relative;
        padding: 10px;
    }
    .burger {
        border: none ;
        background-color: beige;
        font-size: x-large;
        cursor: pointer;
        display: block ;
    }
    
    .container {
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        height: 0;
        background-color: rgb(233, 229, 223);
        direction: rtl;
        overflow: hidden;
        transition: all .3s ease;
        
    }
    
    .container .ul  {
        display: block;
        
    }
    .ul li {
    
    cursor: pointer;
    list-style: none;
    text-align: right;
    height: auto;
    font-weight: bold;
    }
    .active {
        position: absolute;
        right: 0;
        left: 0;
        top: 50px;
        height: auto;
        background-color: rgb(233, 229, 223);
        direction: rtl;
        transition: all .3s ease;
    }
}